NEXT_PUBLIC_SUPABASE_URL=https://cqknvljcyaqvcpoxekdo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNxa252bGpjeWFxdmNwb3hla2RvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIwOTA5NDMsImV4cCI6MjA3NzY2Njk0M30.fnLIpbNE3TUomJHUVLoOAj9e8v5eNopi5E1Ga4A7ofE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNxa252bGpjeWFxdmNwb3hla2RvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MjA5MDk0MywiZXhwIjoyMDc3NjY2OTQzfQ.pb2HV5t45CAnjAAA1ifB0mdfvk2SlT8lyMpGDDDFKmk

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_ZmVhc2libGUtYWFyZHZhcmstNDIuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_Razni05MQdxwS0dNlbfwS1lwDaSlyayvUKbbitFtln